<div class="card">
    <h2>{{ index }} {{ card.title }}</h2>

    <p class="text">{{ card.text }}</p>

    <div>
        <button class="button" (click)='changeTitle()'>Change title</button>
        <button class="button" (click)='card.title = "Inline title"'>Change title inline</button>
    </div>

    <!-- <div>
        <input type="text" #myInput (input)='inputHandler(myInput.value)' [value]='title'/>
    </div> -->

    <div>
        <input type="text" [(ngModel)]='card.title' />
    </div>

    <div>
        <strong>{{ cardDate | date: 'dd MMMM yyyy HH:mm:ss':null:'ru' }}</strong>
    </div>
</div>